@model IEnumerable<HealthStatsWeb.Models.User>

@{
    ViewBag.Title = "ViewUsers";
}

<h2>ViewUsers</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role_ID)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role_ID)
            </td>
            <td>
                @if (item.Role_ID != 3)
                {
                    @Html.ActionLink("Edit", "UpdateUser", new { User_ID = item.User_ID }) 
                }
                @if ((int)Session["Role_ID"] == 3)
                {
                if ((int)Session["User_ID"] != item.User_ID)
                {
                    @Html.ActionLink("| Delete", "Delete", new { User_ID = item.User_ID })
                }
                }


            </td>
        </tr>
    }

</table>
